
@media (min-width: 481px) and (max-width: 1023px) {
    html{
        background-color: black;
        color: white;
        body{ 
            font-family: "LuxuriousRoman-Regular" ;
            height: 100vh; 
            header{
                font-family: 'Times New Roman', Times, serif;
            }
        } 
    }
    main{
        font-size: 125%;
        h1{
            color: red;
        } 
        h2{
            margin: 10px 5px; 
            font-size: 4vh;
        }
        h3{
            margin: 5px 5px;
        } 
        h4{
            margin: 6px 6px;
        }
    } 
    ul {
        list-style-type: none  ;
        a{ 
            color: white
            } 
        
    } 
    .flexMenu{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    
    } 
        p{
            text-align: justify;
            height: 20vh;
            width: 50%; 
            font-size: 1.1rem;
            text-align: left;
            margin: 5% 5%;
        } 
        
        .centrarImg{
            display: flex;
            justify-content: center;
        } 
        .tamañoDeImagen{
            width: 50vh;
            transition: all 1s;
        }
        .tamañoDeImagen:hover{
            border: red solid 15px;
        }
        .transicion{
            transition: all 1s;
        }
        .transicion:hover {
        
            border: white solid 10px;}
            
    nav{ 
    ul{
        
        li{
            width: 25vh;
            height: 10px;
            margin: 5% 5% 2% 10% ;
            padding: 20px;
            text-align: center;
            font-size: 3vh; 
            color: white; 
        }
    } 
}
    .lanzamientos{
        width: 70vh;
    }

    
    /* Parte del encabezado de la pagina*/ 
    
    /* Clases */ 
    .tituloPrincipal{
        font-size: 8vh;
        color: red; 
        text-align: center; 
        margin: 5% 5%;
    /* text aling es para alineacion de texto*/
        
    
    } 

    .tamañoDeImagen1{
        width: 51vh;
        margin-bottom: 5%;
        transition: all 1s;
    
    } 
.tamañoDeImagen1:hover{
    border: green solid 10px;}

    .tamañoDeImagen2{
        width: 51vh;
        margin-bottom: 5%; 
        transition: all 1s;

    } 
    .tamañoDeImagen2:hover{
        border: blue solid 10px;
    }

    .h3Center{
        text-align: center;
    } 
    .titulo1{
        color: blue;
        text-align: center;
        font-size: 7.5vh; 
        margin-top: 5%;
        display: flex;
        flex-wrap: nowrap; 
    } 
    /* grids+flex+media */
    .grids{
        display: grid;
        grid-template-columns: 7fr; 
        grid-template-rows: 2fr;
        /* 2 columnas */
        justify-content: space-evenly;
        margin-top: 5%;
        
    } 
    .grids1{
        display: grid;
        grid-template-columns: 3fr; 
        grid-template-rows: 1fr;
        /* 2 columnas */
        justify-content: center;
        margin-top: 5%;
        
    } 
    .grids2{
        display: grid;
        grid-template-columns: 6fr; 
        grid-template-rows:  1fr 1fr;
        /* 2 columnas */
        justify-content: center;
        margin-top: 2%;
        margin-right: 50%;
        margin-left: 40%;}
        
    .gridAreas{
        display: grid;
        grid-template-areas: 
        "header"
        "menu" 
        "juegos" 
        "footer" ;
        grid-template-columns: 3fr ;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .ig{
        width: 53vh;
        margin-bottom: 35px;}

} 
/* Smartphone */
@media (max-width:480px) {
    html{
        background-color: black;
        color: white;
    }
    body{ 
        font-family: "LuxuriousRoman-Regular" ;
        height: 100vh; 
        header{
            font-family: 'Times New Roman', Times, serif;
        }
    } 
    main{
        font-size: 125%;
        h1{
            color: red;
        }
    } 

    ul {
        list-style-type: none  ;
        a{ 
            color: white
            } 
        
    }

        p{
            text-align: justify;
            height: 20vh;
            width: 50%;
        } 
        .ig{
            width: 53vh;
            margin-bottom: 35px;}
    }
        
        .centrarImg{
            display: flex;
            justify-content: center;
        } 

        .lanzamientos{
            width: 70vh;
            }

    nav{ 
        ul{
        li{
            width: 25vh;
            height: 10px;
            margin: 5% 5% 2% 10% ;
            padding: 20px;
            text-align: center;
            font-size: 3vh; 
            color: white;

    } 
    } 
    }
    .flexMenu{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    
    } 
    
    /* Parte del encabezado de la pagina*/ 
    
    /* Clases */ 
    .tituloPrincipal{
        font-size: 8vh;
        color: red; 
        text-align: center; 
        margin: 5% 5%;
    /* text aling es para alineacion de texto*/
        
    
    } 
    .tamañoDeImagen{
        width: 40vh;
        transition: all 1s;
    }
    .tamañoDeImagen:hover{
        border: red solid 15px;
    }
    .transicion{
        transition: all 1s; 
        width: 70vh;
    }
    .transicion:hover {
    
        border: white solid 5px;}

    
    .tamañoDeImagen1{
        width: 51vh;
        margin-bottom: 5%;

        transition: all 1s;
    
    } 
    .tamañoDeImagen1:hover{
        border: green solid 10px;}
    .tamañoDeImagen2{
        width: 51vh;
        margin-bottom: 5%;

        transition: all 1s;
    } 
    .tamañoDeImagen2:hover{
        border: blue solid 10px;
    }

    .h3Center{
        text-align: center;
    } 
    .titulo1{
        color: blue;
        text-align: center;
        font-size: 7vh; 
        margin-top: 5%;
        display: flex;
        flex-wrap: nowrap; 
    } 
    /* grids+flex+media */
    .grids{
        display: grid;
        grid-template-columns: 7fr; 
        grid-template-rows: 2fr;
        /* 2 columnas */
        justify-content: space-evenly;
        margin-top: 5%;
        
    } 
    .grids1{
        display: grid;
        grid-template-columns: 3fr; 
        grid-template-rows: 1fr;
        /* 2 columnas */
        justify-content: center;
        margin-top: 5%;
        
    } 
    .grids2{
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows:  1fr;
        /* 2 columnas */
        justify-content: center;
        margin-top: 2%;
        margin-right: 50%;
        margin-left: 40% }
        
    .gridAreas{
        display: grid;
        grid-template-areas: 
        "header"
        "menu" 
        "juegos" 
        "footer" ;
        grid-template-columns: 3fr ;
        grid-template-rows: 1fr 1fr 1fr;
    }

    h2{
        font-size: 4vh;
    }
    p{
        font-size: 1.1rem;
        text-align: left;
        margin: 5% 5%;
    } 
